@{
    ViewData["Title"] = "Code Page";
}

<div class="text-center">
    <h1 class="display-4">I am the Code View</h1>
    <p><a>Learn about building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Palindrome</h1>


